*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
}

.pagina{
    position:relative;
    width:100%;
    max-width:430px;
    margin:auto;
}

.imagem{
    width:100%;
    display:block;
}

.btn-gerar{
    position:absolute;
    left:80px;
    top:639px;
    width:235px;
    height:38px;

    background:transparent;
    border:none;

    border-radius:30px;
}
